<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="fragments/main ::head(title=${lesson.title})"></head>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.css" integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw==" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/theme/darcula.min.css" integrity="sha512-kqCOYFDdyQF4JM8RddA6rMBi9oaLdR0aEACdB95Xl1EgaBhaXMIe8T4uxmPitfq4qRmHqo+nBU2d1l+M4zUx1g==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/lesson.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.js" integrity="sha512-M1DpFDDFHNgGdgVsSkTP1sjfWC7mQFJM3obQo8gyKHbZmbmr95Kl9wPYa5T70BFQBi0+/TlcG6IZDLowJCbKBQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/javascript/javascript.min.js" integrity="sha512-+tn2IYnLwD2J9p6Nrn/Dl7ag9lluHA0GAblT/vnMiJV8DU/iDsldgf+9XbEqZUee2ThyDtfmSDb+IDZ9u7jrSA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/clike/clike.min.js" integrity="sha512-PeD3V/6m5bFv3qyIVKgDh+huybMHjvsLWuW7ZH5WZsS+hY0pZNU24si/Yja/2D4c/ff++c6k1S240dKwhJEJzw==" crossorigin="anonymous"></script>
        <script src="/js/codeEditor.js" type="text/javascript"></script>
        <script src="/js/sidebar.js" type="text/javascript"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/

                var problem = /*[[${lesson.problem.problemBody}]]*/ 'default';
                var problemId = /*[[${lesson.problem.id}]]*/ -1;
                var solutionRequired = /*[[${lesson.problem.solutionRequired}]]*/ false;
                var startIndex = /*[[${lesson.problem.solutionStartIndex}]]*/ 0;
                var endLength = /*[[${lesson.problem.solutionEndLength}]]*/ 0;

            /*]]>*/
        </script>
    </head>

    <body class="d-flex flex-column">
        <nav th:replace="fragments/main ::navbar"></nav>

        <div class="container-fluid">
            <nav id="sidebar" class="bg-dark">
                <div class="close" id="closeSidebar">
                    <span aria-hidden="true">&times;</span>
                </div>

                <div class="sidebar-header">
                    <h3 th:text="${lesson.topic.title}">Bootstrap Sidebar</h3>
                </div>
                <div style="padding: 30px;">
                    <h5>Lessons</h5>
                    <ul th:each="lesson: ${lesson.topic.lessons}" class="list-unstyled" style="margin-left: 5px;">
                        <li>
                            <div style="vertical-alignment: center;" th:switch="${#authentication.getPrincipal().getUser().getCompletedLessons().contains(lesson) || latestInComplete.equals(lesson)}">
                                <i class="fa fa-code fa-lg fa-title-description"></i>
                                <a class="h6" style="color:white;" th:case="${true}" th:href="'/lessons/' + ${lesson.id}" th:text="${lesson.title}">Lesson</a>
                                <a class="h6" style="color:white;" th:case="${false}" href="#" th:text="${lesson.title}" disabled>Lesson</a>
                                <i th:each="user : ${lesson.studentsCompleted}" th:if="${#authentication.getPrincipal().getUser().id == user.id}" class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                            </div>
                        </li>
                    </ul>
                    <h5  th:if="${lesson.topic.quiz != null}">Quiz</h5>
                    <div th:if="${lesson.topic.quiz != null}" style="margin-left: 5px;">
                        <div th:switch="${(#authentication.getPrincipal().getUser().getCompletedQuizzes().contains(lesson.topic.quiz) || latestInCompleteQuiz.equals(lesson.topic.quiz)) && (latestInComplete == null || latestInComplete.getId() > lesson.topic.getLessons().get(lesson.topic.getLessons.size() - 1).getId())}">
                            <i class="fa fa-question-circle-o fa-lg fa-title-description" aria-hidden="true"></i>
                            <a th:case="${true}" class="h6" style="color:white;" th:href="'/quizzes/' + ${lesson.topic.quiz.id}" th:text="${lesson.topic.quiz.title}">Quiz</a>
                            <a th:case="${false}" class="h6" style="color:white;" href="#" th:text="${lesson.topic.quiz.title}" disabled>Quiz</a>
                            <i th:each="user : ${lesson.topic.quiz.studentsCompleted}" th:if="${#authentication.getPrincipal().getUser().id == user.id}" class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="row lesson">
                <div class="col-md-5" style="padding:10px; height:100%; overflow-y: auto;">
                    <h3>
                        <i class='fa fa-book'></i> <span th:text='${lesson.title}'>Title</span>
                    </h3>
                    <hr>
                    <div  th:utext="${lesson.explanation}">explanation</div>
                </div>
                <div class="col-md-7">
                    <div class="row" id="codeEditor"></div>
                    <div class="row bg-dark" id="output"></div>
                </div>
            </div>
            <div class="row bg-secondary bottom-panel">
                <div class="col-md">
                    <button id="sidebarCollapse" class="btn">
                    <i class="fa fa-bars fa-lg" aria-hidden="true" style="font-size:30px;"></i>
                    </button>
                    <span th:text="${lesson.id}+'.'">Id</span>
                    <span th:text="${lesson.title}">Title</span>
                </div>
                <div class="col-md">
                    <div>
                        <a th:if="${prev != null}" class="btn btn-light" style="margin-right: 100px;"
                           th:href="${prev}">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> Prev
                        </a>
                        <a th:if="${prev == null}" class="btn btn-light" style="margin-right: 100px;" disabled>
                            <i class="fa fa-angle-left" aria-hidden="true"></i> Prev
                        </a>
                        <a th:if="${next != null}" th:href="${next}" id="nextLesson"
                           th:class="${#sets.contains(#authentication.getPrincipal().getUser().completedLessons, lesson)}? 'btn btn-warning' : 'btn btn-light btn-disabled'">
                             Next <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a th:if="${next == null}" class="btn btn-light" disabled>
                            Next <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md">
                    <button class="btn btn-success" style="float:right;" id="run">
                        <i class="fa fa-play" aria-hidden="true"></i> Run
                    </button>
                    <button class="btn btn-info" id="hint" style="float:right; margin-right:25px;">
                        <i class="fa fa-question" aria-hidden="true"></i> Hint
                    </button>
                    <button th:if="${lesson.problem.solutionRequired}" class="btn" id="showSolution">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i> Show Solution
                    </button>
                </div>
            </div>
        </div>

        <div class="modal" id="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Hint</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="modalParagraph"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay"></div>
    </body>
</html>