html, body {
    height: 100%;
}

body {
    padding-top: 100px;
}

main {
    padding-bottom: 10px;
}
.top-navbar {
    z-index: 997;
}

footer {
    flex-grow: 0;
    padding: 15px 0;
    display: block;
    background-color: #f5f5f5;
}

main {
    flex-grow: 1;
}

.topic-container {
    margin-bottom:50px;
    background-color: white;
    height:300px;
    border-radius: 25px;
}

.topic-container-right {
    text-align: right;
}

.topic-container-right h4 {
    float: right;
}

.topics {
    cursor:pointer;
}

.topicTitle {
    font-size:1.7em;
    float:left;
}

.fa-chevron-down, .fa-chevron-up {
    float: right;
}

.topics[aria-expanded=false] .fa-chevron-down {
    display: block;
}
.topics[aria-expanded=true] .fa-chevron-down {
    display: none;
}
.topics[aria-expanded=true] .fa-chevron-up {
    display: block;
}
.topics[aria-expanded=false] .fa-chevron-up {
    display: none;
}

.lessonTitle {
    font-size:1.1em;
    color: black;
}

.lessonTitle:hover {
    color: black;
}

.CodeMirror {
    width: 100%;
    min-height: 100%;
}

pre, code {
    white-space: pre-line;
}

pre {
    padding: 7px;
}

.image-container {
    border-radius: 25px;
    background-size: cover !important;
}

a[disabled], .btn-disabled {
    opacity: 0.4;
    cursor: default !important;
    pointer-events: none;
}