<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/main ::head(title='Dashboard')">
    </head>
    <body class="d-flex flex-column"  style="background-color: #F7F8FC;">
        <nav th:replace="fragments/main ::navbar"></nav>
        <!-- Page Content -->
        <main role="main" class="container">
            <h2>Learn Java</h2>
            <br>
            <div>
                <div style="margin-bottom:50px;">
                    <h5>Your Progress</h5>
                    <div class="progress" style="height: 35px;">
                        <div class="progress-bar" role="progressbar" th:style="'width: '+${((#authentication.getPrincipal().getUser().completedLessons.size + #authentication.getPrincipal().getUser().completedQuizzes.size) * 100)/(totalMaterial)}+'%;'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                        th:text="${((#authentication.getPrincipal().getUser().completedLessons.size + #authentication.getPrincipal().getUser().completedQuizzes.size) * 100)/(totalMaterial)} + '%'">
                        </div>
                    </div>
                </div>
                <div th:each="topic: ${topics}">
                    <div th:if="${topic.id % 2 != 0}" class="shadow-sm row topic-container">
                        <div th:replace="fragments/topicItem ::description"></div>
                        <div th:replace="fragments/topicItem ::image"></div>
                    </div>

                     <div th:if="${topic.id % 2 == 0}" class="shadow-sm row topic-container topic-container-right">
                         <div th:replace="fragments/topicItem ::image"></div>
                         <div th:replace="fragments/topicItem ::description"></div>
                    </div>
                    </div>
                </div>
            </div>
        </main>

        <footer th:replace="fragments/main ::footer"></footer>

    </body>
</html>