<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main ::head">
</head>
<body class="d-flex flex-column">
    <nav th:replace="fragments/main ::navbar"></nav>
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">Welcome!</h1>
            <p class="lead">Java Intelligent Tutoring System is a platform for learning
            Java programming assisted with AI technologies.</p>
            <a href="/register" class="btn btn-primary btn-lg">Get Started!</a>
        </header>

    </div>
    <!-- /.container -->
    <footer th:replace="fragments/main ::footer"></footer>

</body>
</html>