<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main ::head(title=${quiz.title})">
</head>
<body class="d-flex flex-column">
<nav th:replace="fragments/main ::navbar"></nav>
<!-- Page Content -->
<div class="container">
    <h2 th:text="${quiz.title}">Quiz</h2>
    <a href='javascript:window.history.back()' type='button'><<<&lt;Back</a>
    <br><br>
    <div style="margin-left: 10%; margin-right:10%;">
        <form th:action="@{/quizzes/{quizId}/evaluate(quizId=${quiz.id})}" method="POST" enctype="utf8">
            <div style="margin-bottom:50px;" th:each="question: ${quiz.questions}">
                <div th:utext="${question.question}"></div>
                <input type="hidden" name="question" th:value="${question.id}">
                <div th:each="option: ${question.questionOptions}">
                    <div class="form-check" style="margin-left:15px;">
                        <input class="form-check-input" type="radio" th:name="'quiz-option-' + ${question.id}" th:id="'flexRadioDefault' + ${option.id}"
                               th:value="${option.id}">
                        <label class="form-check-label" th:for="'flexRadioDefault' + ${option.id}" th:utext="${option.optionText}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</div>

<footer th:replace="fragments/main ::footer"></footer>

</body>
</html>